* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:
        background-color 0.6s ease,
        color 0.6s ease,
        border-color 0.6s ease;
}

.reveal{
    opacity:0;
    transform: translateY(40px);
    transition:
        opacity 0.8s ease,
        transform 0.8s ease;
}

.reveal.active{
    opacity:1;
    transform: translateY(0);
}

html {
    scroll-behavior: smooth;
}

body{
    margin:0;
    background-color:#121212;
    background-size: 200% 200%;
    animation: gradientMove 18s ease infinite;
    font-family: "Inter", sans-serif;
    position: relative;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@keyframes gradientMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

/* glow cyber */
body::before{
    content:"";
    position:fixed;
    width:100%;
    max-width:600px;
    height:100%;
    max-height:600px;
    background: radial-gradient(
        circle,
        rgba(255,255,255,0.05),
        transparent 70%
    );
    top:-200px;
    right:-200px;
    pointer-events:none;
    z-index:-1;
}

/* grid tech */
body::after{
    content:"";
    position:fixed;
    inset:0;
    background: repeating-linear-gradient(
        to bottom,
        rgba(255,255,255,0.015),
        rgba(255,255,255,0.015) 1px,
        transparent 1px,
        transparent 3px
    );
    pointer-events:none;
    z-index:-1;
}

body,
body::before,
body::after{
    transition:
        background 0.6s ease,
        background-color 0.6s ease,
        color 0.4s ease,
        border-color 0.4s ease;
}
/*  */


/* NAVBAR */

.nave{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px ;
    z-index: 1000;
}

.nave.scrolled{
    backdrop-filter: blur(6px);
    padding:0.6rem 2rem;
    transition: 0.6s ease;
}

/* MENU */

.menu{
    display:flex;
    width: 100%;
    gap:3rem;
    list-style:none;
    align-items:center;
    justify-content:center;
}


/* LINKS */

.menu-links{
    text-decoration:none;
    color:#e9e9e9;
    font-weight:500;
    font-size:15px;
    letter-spacing:.4px;
    position:relative;
    padding:6px 4px;
    transition: color .3s, transform .3s;
}

/* underline animation */

.menu-links::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-4px;
    width:0;
    height:100%;
    max-height:2px;
    background:linear-gradient(90deg,rgb(255,0,179),rgb(255,0,98));
    transition:0.35s;
}

.menu-links:hover::after{
    width:100%;
}

.menu-links:hover{
    transform:translateY(-2px);
}

/* ACTIVE LINK */

.menu-links.active::after{
    width:100%;
}

/* TRILLER */

.triller{
    display:flex;
    position: relative;
    cursor:pointer;
    width:50px;
    height: 25px;
    background:#696969;
    border-radius:150px;
    
}

/* TRILLER CURSOR */

.triller .dkcursor{
    position:absolute;
    left: 0;
    width:25px;
    height: 25px;
    background:#000000de;
    border-radius:50%;
    transform:scale(.9); transition:.4s ease;

}

.topoinicial{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-self: center;
    padding: 60px 0px 60px 0px;
    width: 100%;
    max-width: 1100px;
    height: auto;
}

.home-header {
    display:flex;
    flex-direction:column;
    width:100%;
    height: 100%;
    padding: 100px 10px 0px 10px;
}

.mynameis{
    font-size: 20px;
    font-weight:500;
    color: #e9e9e9;
    transition: 0.6s ease;
}

.mynameis span{
    background: -webkit-linear-gradient(rgb(255, 0, 179), rgb(255, 0, 98));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.6s ease;
}

.myname {
    color: #e9e9e9;
    font-size:64px;
    font-weight:600;
    transition: 0.6s ease;
}

.myname span{
    background:linear-gradient(
        90deg,
        rgb(255,0,179) 0%,
        rgb(255, 85, 150) 40%,
        rgb(255,0,179) 80%
    );

    background-size:300% 100%;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;
    color:transparent;
    animation:nameGradient 4s linear infinite;
}

@keyframes nameGradient{
    0%{background-position:0% 0%;}
    100%{background-position:300% 0%;}

}

.welcome-text {
    color: #e9e9e9;
    font-size: 16px;
    padding: 10px 0px 0px;
    width: 100%;
    max-width: 800px;
    text-align: justify;
    transition: 0.6s ease;
}

.contatos-interface{
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;

}

.imageminicial{
    border: 1px solid #d900ff;
    border-radius: 50%;
    width: 100%;
    max-width: 32px;
    height: 100%;
    max-height: 32px;
    transition:.3s ease, transition 0.6s ease;
}

.imageminicial:hover{
    transform:translateY(-4px);
}


.div_vejamais{
    display:flex;
    width: 100%;
    gap:10px;
    padding:32px 0px 0px 0px;
}

.Vejamais{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-decoration:none;
    font-size:14px;
    font-weight:400;
    padding:6px 12px;
    border-radius:6px;
    transition:0.25s;
}

.Vejamais:hover{
    transform:translateY(-2px);
}

.botaozin{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 32px;
    max-width: fit-content;
    background:linear-gradient(45deg,rgb(255, 0, 179), rgb(255, 0, 98));
    color:#e9e9e9;
    transition: 0.6s ease;
    z-index: 10;
}

.fotocartoonesca{
    display: grid;
    justify-items: end;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    pointer-events: none;
}

.fotocartoonesca img{
    grid-column: 1;
    grid-row: 1;
}

.fotovermelha{
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 700px;
    padding: 0px;
    object-fit: cover;
    transition: 0.6s ease;
    opacity: 1;
    pointer-events: none;
    
}

.fotoinicial{
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 700px;
    padding: 0px;
    object-fit: cover;
    transition: 0.6s ease;
    opacity: 0;
    pointer-events: none;
   
}

/* ABOUT ME SECTION */

.aboutme-section {
    display: grid;
    grid-template-rows: auto;
    justify-self: center;
    width: 100%;
    max-width: 1100px;
    scroll-margin-top:0px;
    padding-top: 60px;
    transition: 0.6s ease;
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 100%;
}

.aboutme-text{
    width: 100%;
    transition: 0.6s ease;
    color: #e9e9e9;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    transition: 0.6s ease;
}

.aboutme-text span{
    font-size: 35px;
    background: -webkit-linear-gradient(rgb(255, 0, 179), rgb(255, 0, 98));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.texto-p {
    width: 100%;
    max-width: 680px;
    border-radius: 16px;
    background-color: rgb(27, 27, 27);
    border: 1px solid rgb(27, 27, 27); 
    padding: 20px;
}
    
.text{
    color: #e9e9e9;
    text-align: justify;
    line-height:1.6;
}


.minhafoto {
    width: 100%;
    padding: 20px;
    max-width: 260px;
    aspect-ratio: 4/4;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    transition: 0.3s;
}

.minhafoto:hover{
    transform: translateY(-2px);
}

/* SKILLS SLIDE */

.slide-skills{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 1100px;
    height: auto;
    padding-top: 60px;
}

.skills-title{
    width: 100%;
    height: auto;
    font-size: 35px;
    color: #e9e9e9;
    transition: 0.6s ease;
    text-align: center;
}
    
.skills-title span{
    background: -webkit-linear-gradient(rgb(255, 0, 179), rgb(255, 0, 98));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.6s ease;
}

/* INICIO HARDICONN*/


.flash-skills{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    width:100%;
    max-width:1100px;
    height: 100%;
    margin:40px auto;
    gap:2rem;
    
}

.flash-card {
    display: flex;
    justify-self: center;
    width:100%;
    max-width:250px;
    min-height:320px;
    height:auto;
    
    border-radius:14px;
    transition:0.35s ease;
}


.flash-card:nth-child(1){
    border:1px solid rgb(255,145,0);
    background:
        repeating-linear-gradient(
            115deg,
            transparent 0px,
            transparent 22px,
            rgba(255,215,0,.08) 23px,
            transparent 24px
        ),
        repeating-linear-gradient(
            -35deg,
            transparent 0px,
            transparent 18px,
            rgba(255,140,0,.06) 19px,
            transparent 20px
        ),
        linear-gradient(
            135deg,
            rgba(255,140,0,.18),
            rgba(255,215,0,.04)
        );
}

.flash-card:nth-child(2){
    border:1px solid #0000ff;
    background:
        repeating-linear-gradient(
            115deg,
            transparent 0px,
            transparent 22px,
            rgba(0,140,255,.08) 23px,
            transparent 24px
        ),
        repeating-linear-gradient(
            -35deg,
            transparent 0px,
            transparent 18px,
            rgba(0,0,255,.06) 19px,
            transparent 20px
        ),
        linear-gradient(
            135deg,
            rgba(0,0,255,.18),
            rgba(0,140,255,.04)
        );
}

.flash-card:nth-child(3){
    border:1px solid #fffb00;
    background:
        repeating-linear-gradient(
            115deg,
            transparent 0px,
            transparent 22px,
            rgba(255,255,120,.08) 23px,
            transparent 24px
        ),
        repeating-linear-gradient(
            -35deg,
            transparent 0px,
            transparent 18px,
            rgba(255,251,0,.06) 19px,
            transparent 20px
        ),
        linear-gradient(
            135deg,
            rgba(255,251,0,.18),
            rgba(255,220,0,.04)
        );
}

.flash-card:nth-child(4){
    border:1px solid rgb(0,89,255);
    background:
        repeating-linear-gradient(
            115deg,
            transparent 0px,
            transparent 22px,
            rgba(0,225,255,.08) 23px,
            transparent 24px
        ),
        repeating-linear-gradient(
            -35deg,
            transparent 0px,
            transparent 18px,
            rgba(0,89,255,.06) 19px,
            transparent 20px
        ),
        linear-gradient(
            135deg,
            rgba(0,89,255,.18),
            rgba(0,225,255,.04)
        );
}

.flash-card:nth-child(5){
    border:1px solid #616161;
    background:
        repeating-linear-gradient(
            115deg,
            transparent 0px,
            transparent 22px,
            rgba(180,180,180,.08) 23px,
            transparent 24px
        ),
        repeating-linear-gradient(
            -35deg,
            transparent 0px,
            transparent 18px,
            rgba(97,97,97,.06) 19px,
            transparent 20px
        ),
        linear-gradient(
            135deg,
            rgba(97,97,97,.18),
            rgba(180,180,180,.04)
        );
}

.flash-card:nth-child(6){
    border:1px solid rgb(0,162,255);
    background:
        repeating-linear-gradient(
            115deg,
            transparent 0px,
            transparent 22px,
            rgba(120,220,255,.08) 23px,
            transparent 24px
        ),
        repeating-linear-gradient(
            -35deg,
            transparent 0px,
            transparent 18px,
            rgba(0,162,255,.06) 19px,
            transparent 20px
        ),
        linear-gradient(
            135deg,
            rgba(0,162,255,.18),
            rgba(120,220,255,.04)
        );
}

.flash-card:nth-child(7){
    border:1px solid #9c00da;
    background:
        repeating-linear-gradient(
            115deg,
            transparent 0px,
            transparent 22px,
            rgba(217,0,255,.08) 23px,
            transparent 24px
        ),
        repeating-linear-gradient(
            -35deg,
            transparent 0px,
            transparent 18px,
            rgba(156,0,218,.06) 19px,
            transparent 20px
        ),
        linear-gradient(
            135deg,
            rgba(156,0,218,.18),
            rgba(217,0,255,.04)
        );
}

.flash-card:nth-child(8){
    border:1px solid gold;
    background:
        repeating-linear-gradient(
            115deg,
            transparent 0px,
            transparent 22px,
            rgba(255,255,150,.08) 23px,
            transparent 24px
        ),
        repeating-linear-gradient(
            -35deg,
            transparent 0px,
            transparent 18px,
            rgba(255,215,0,.06) 19px,
            transparent 20px
        ),
        linear-gradient(
            135deg,
            rgba(255,215,0,.18),
            rgba(255,240,120,.04)
        );
}

.flash-card:nth-child(9){
    border:1px solid rgb(73,188,255);
    background:
        repeating-linear-gradient(
            115deg,
            transparent 0px,
            transparent 22px,
            rgba(180,240,255,.08) 23px,
            transparent 24px
        ),
        repeating-linear-gradient(
            -35deg,
            transparent 0px,
            transparent 18px,
            rgba(73,188,255,.06) 19px,
            transparent 20px
        ),
        linear-gradient(
            135deg,
            rgba(73,188,255,.18),
            rgba(180,240,255,.04)
        );
}

.flash-card:hover{
    transform: translateY(-6px);
}


.hard-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px 0px 0px;
    width: 100%;
    height: auto;     
}

.circle{
    display:flex;
    justify-content:center;
    align-items:center;

    width:60px;
    min-height: 60px;

    border-radius:50%;
    flex-shrink:0;
    height: auto;
}

.html-tag{
    border:1px solid rgb(255, 145, 0);
}

.css{
    border:1px solid #0000ff;
}

.js{
    border:1px solid #fffb00;
}

.python{
    border:1px solid rgb(0, 89, 255);
}

.bash{
    border:1px solid #616161;
}

.powershell{
    border:1px solid rgb(0, 162, 255);
}

.C{
    border:1px solid #9c00da;
}

.linux{
    border:1px solid gold;
}

.mf{
    border:1px solid rgb(73, 188, 255);
}

.hardiconn{
    width:32px;
    height:32px;
    object-fit:contain;
}

.skill-name{
    color: #e9e9e9;
    display: flex;
    text-align: center;
    padding: 5px;
}

.barra-skill{
    width: 75%;
}

.laranja {
    border: 1px solid rgb(255, 145, 0);
    border-image: linear-gradient(to right, rgb(255, 145, 0), #ffdd6e) 1;
}

.azul-escuro {
    border: 1px solid #0000ff;
    border-image: linear-gradient(to right, #0000ff, #10009c) 1;
}

.laranja-amarelado {
    border: 1px solid #fffb00;
    border-image: linear-gradient(to right, #fffb00, #f8e644) 1;
}

.azul-amarelo{
    border: 1px solid rgb(0, 89, 255);
    border-image: linear-gradient(to right, rgb(0, 89, 255), #00e1ff) 1;
}

.cinza {
    border: 1px solid #616161;
    border-image: linear-gradient(to right, #616161, #979797) 1;
}

.azul-claro{
    border: 1px solid rgb(0, 162, 255);
    border-image: linear-gradient(to right, rgb(0, 162, 255), rgba(0, 89, 255, 0.856)) 1;
}

.roxo{
    border: 1px solid #9c00da;
    border-image: linear-gradient(to right, #9c00da, #d900ff) 1;
}

.dourado {
    border: 1px solid gold;
    border-image: linear-gradient(to right, gold, #ffef5c) 1;
}

.azul-branco {
    border: 1px solid rgb(73, 188, 255);
    border-image: linear-gradient(to right, rgb(73, 188, 255), rgba(0, 174, 255, 0.856)) 1;
}

.background-skill{
    text-align: justify;

    width: 80%;
    color: #e9e9e9;
    height: auto;
    padding: 5px;
    border-radius: 20px;
    transition: 0.6s ease;
}

/* FIM HARDICONN*/

/* CERTIFICADOS SLIDE*/

.cert-container{
    width:100%;
    padding:80px 20px;
    display:flex;
    justify-content:center;
}

.cert-text{
    text-align: center;
    background: -webkit-linear-gradient(rgb(255, 0, 179), rgb(255, 0, 98));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    transition: 0.6s ease;
}

.cert-div{
    width:100%;
    max-width:1100px;

    display:grid;
    gap:24px;
}

.div-cards{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:24px;

    background: rgb(32,32,32);
    border:1px solid rgb(48,48,48);

    border-radius:18px;

    box-shadow:
    0 4px 12px rgba(0,0,0,0.04),
    0 12px 32px rgba(0,0,0,0.06);

    transition:.3s ease;
}

.div-cards:hover{
    transform:translateY(-4px);

    box-shadow:
    0 8px 20px rgba(0,0,0,0.08),
    0 16px 40px rgba(0,0,0,0.10);
}

.cert-info{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.cert-title{
    font-size:1.25rem;
    font-weight:700;
    color: #e9e9e9;
}

.cert-emissor{
    color: #aab1ce;
    font-weight:500;
}

.cert-id{
    color: #aab1ce;
    font-size:.9rem;
}

.cert-skills{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
    margin-top:8px;
}

.cert-skills span{
    padding:6px 12px;

    background: rgba(255, 0, 179, 0.800);

    border-radius:999px;

    font-size:.85rem;
    color: #e9e9e9;
    font-weight:500;
}

.cert-open{
    min-width:55px;
    min-height:55px;

    border:none;
    border-radius:50%;

    background: rgba(255, 0, 179, 0.800);
    color:white;

    font-size:1.8rem;
    font-weight:300;

    cursor:pointer;

    transition:.3s ease;
}

.cert-open:hover{
    transform:rotate(90deg);

    background:rgb(255, 52, 194);
}

.modal{
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,.85);

    opacity: 0;
    visibility: hidden;

    transition:
        opacity .35s ease,
        visibility .35s ease;

    z-index: 9999;
}

.modal.active{
    opacity: 1;
    visibility: visible;
}

.modal-image{
    width: 90%;
    max-width: 1000px;
    max-height: 90vh;

    object-fit: contain;

    border-radius: 12px;

    transform: scale(.9);
    opacity: 0;

    transition:
        transform .4s ease,
        opacity .4s ease;
}

.modal.active .modal-image{
    transform: scale(1);
    opacity: 1;
}
.close-modal{
    position:absolute;
    top:20px;
    right:40px;

    color:white;
    font-size:3rem;

    cursor:pointer;
}

/* FIM - CERTIFICADOS SLIDE*/

/* PROJETOS */
.section-projects {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: auto;
    scroll-margin-top:50px;
    padding: 60px 0px 60px 0px;
    transition:0.6s ease;
}

.my-projects-text {
    text-align: center;
    background: -webkit-linear-gradient(rgb(255, 0, 179), rgb(255, 0, 98));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    transition: 0.6s ease;
}

.project-box{
    display:grid;
    width:100%;
    max-width:1100px;
    margin:40px auto;
    gap:2rem;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
}

.project-card{
    background: rgb(32,32,32);
    border:1px solid rgb(48,48,48);
    border-radius:14px;
    transition:0.35s ease;
    display:flex;
    flex-direction:column;
    height: 396px;
}

.project-card:hover{
    transform:translateY(-6px);
    box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

.project-content{
    padding:12px;
}

.project-content h3{
    margin-bottom:6px;
}

.about-project{
    font-size:14px;
    color:#bdbdbd;
}

.project-image {
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.project-tech{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
    padding: 12px;
}

.tech{
    display:flex;
    align-items:center;
    gap:6px;
    font-size:12px;
    padding:5px 8px;
    background:#1c1c1c;
    border:1px solid #2e2e2e;
    border-radius:6px;
    color:#e9e9e9;
    transition: 0.4s ease;
}

.tech img{
    width:100%;
    height:100%;
    max-width: 14px;
    max-height: 14px;
    
}

.project-buttons{
    display:flex;
    gap:10px;
    margin-top: auto;
    padding:12px;
}

.btn{
    text-decoration:none;
    font-size:13px;
    padding:6px 12px;
    border-radius:6px;
    transition:0.25s;
}

.github{
    background:#24292e;
    color:#e9e9e9;
    transition: 0.6s ease;
}

.demo{
    background:linear-gradient(45deg,rgb(255, 0, 179), rgb(255, 0, 98));
    color:#e9e9e9;
    transition: 0.6s ease;
}

.btn:hover{
    transform:translateY(-2px);
}

.Web{
    text-align: center;
    color: #e9e9e9;
    padding: 40px 0px 0px 0px;
    transition: 0.6s ease;
}

.goscanner-image{
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
}

.project-card h3, .about-project{
    margin-left: 2px;
    color: #e9e9e9;
    transition: 0.6s ease;
}

.redes-box{
    display:grid;
    width:100%;
    max-width:1000px;
    margin:40px auto;
    gap:2rem;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
}

.rede-card{
    display:flex;
    flex-direction:column;
    background: rgb(32,32,32);
    border:1px solid rgb(48,48,48);
    border-radius:14px;
    overflow:hidden;
    transition:0.35s ease;
    
}

.rede-card:hover{
    transform:translateY(-6px);
    box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

.rede-card h3{
    margin-left: 2px;
    color: #e9e9e9;
    transition: 0.6s ease;
}

.rede-image{
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
}

.Redes{
    text-align: center;
    color: #e9e9e9;
    padding: 40px 0px 0px 0px;
    transition: 0.6s ease;
}

.CTFS{
    text-align: center;
    color: #e9e9e9;
    padding: 40px 0px 0px 0px;
    transition: 0.6s ease;
}

/* FIM PROJETOS */

.contacts-box{
    padding: 60px 0px 60px 0px;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.contacts-text{
    font-size:35px;
    margin-bottom:20px;
    background:linear-gradient(rgb(255,0,179),rgb(255,0,98));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.contacts-icons{
    display:flex;
    justify-content:center;
    gap:10px;
}

.contacts-icons img{
    width:100%;
    height:100%;
    max-height: 32px;
    max-width:32px;
    transition:.3s;
}

.contacts-icons img:hover{
transform:translateY(-4px);
}

/* -------------WHITEMODE------------- */

/* modo claro */
body.white{
    background-color:#e9e9e9;
}

body.white::before{
    background: radial-gradient(
        circle,
        rgba(0,0,0,0.05),
        transparent 70%
    );
}

body.white::after{
    background: repeating-linear-gradient(
        to bottom,
        rgba(0,0,0,0.02),
        rgba(0,0,0,0.02) 1px,
        transparent 1px,
        transparent 3px
    );
}


body.white .menu-links::after {
    background: rgb(0, 4, 238);
}


body.white .dark-cartoon-welcome {
    opacity: 1;
}

body.white .cartoon-welcome {
    opacity: 0;
}

body.white .myname, body.white .mynameis, body.white .menu-links, body.white .cert-title, body.white .welcome-text, body.white .aboutme-text, body.white .skills-title, body.white .text-soft, body.white .text, body.white .Web, body.white .Redes,body.white .CTFS,body.white .about-project,body.white .rede-card h3, body.white .project-card h3, body.white .skill-name, body.white .text-skill{
    color: #121212;
}

body.white .mynameis span{
    background: -webkit-linear-gradient(rgb(0, 162, 255), rgba(0, 4, 255, 0.856));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body.white .myname span{
       background:linear-gradient(
        90deg,
        rgb(0,162,255) 0%,
        rgba(0,4,255,0.856) 40%,
        rgb(0,162,255) 80%
    );

    background-size:300% 100%;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;
    color:transparent;

}

body.white .fotovermelha{
    opacity: 0;
}

body.white .fotoinicial{
    opacity: 1;
}


body.white .imageminicial{
    border: 1px solid rgba(0, 4, 255, 0.856);
}

body.white .botaozin{
    background: -webkit-linear-gradient(rgb(0, 162, 255), rgba(0, 4, 255, 0.856));
}


body.white .aboutme-text span, body.white .skills-title span{
    font-size: 35px;
    background: -webkit-linear-gradient(rgb(0, 162, 255), rgba(0, 4, 255, 0.856));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body.white .texto-p{
    background-color: rgb(223, 223, 223);
    border: 1px solid rgb(218, 218, 218);
}

body.white .cert-skills span{
    background:rgb(0, 162, 255);
}

body.white .cert-open{
    background:rgb(0, 162, 255);
}

body.white .cert-open:hover{
    background-color: rgb(0, 4, 255, 0.856);
}

body.white .cert-emissor, body.white .cert-id{
    color: #2c3249;
}

body.white .my-projects-text, body.white .cert-text{
    background: -webkit-linear-gradient(rgb(0, 162, 255), rgba(0, 4, 255, 0.856));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body.white .tech{
    background:#e7e7e7;
    border:1px solid #d6d6d6;
    color: #121212
}

body.white .github{
    background:#e7e7e7;
    color: #121212
}

body.white .demo{
    background: -webkit-linear-gradient(rgb(0, 162, 255), rgba(0, 4, 255, 0.856));
}

body.white .demo:hover{
    transform:translateY(-2px);
    box-shadow:0 4px 10px rgba(0, 110, 255, 0.4);
}

body.white .about-project{
    color:#444;
}

body.white .rede-card,body.white .project-card, body.white .div-cards{
    background-color: rgb(209, 209, 209);
    border: 1px solid rgb(199, 199, 199);
}


body.white .contacts-text {
    background: -webkit-linear-gradient(rgb(0, 162, 255), rgba(0, 4, 255, 0.856));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.triller.white {
    background-color: #c2c2c2;
}

.triller.white .dkcursor {
    left: 25px;
    background-color: #FAFAFA;
}



@media (max-width: 768px){

    .topoinicial{
        grid-template-columns:1fr;
        padding:40px 20px;
    }

    .home-header{
        text-align:center;
    }

    .myname{
        font-size:42px;
    }

    .flash-skills{
        grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    }

    .cert-slides{
        grid-template-columns:1fr;
    }

    .fotovermelha,
    .fotoinicial{
        width:100%;
        max-width:350px;
        height:auto;
        justify-self:center;
    }

    .menu{
        flex-wrap:wrap;
        gap:1rem;
    }

     .background-skill{
        font-size:14px;
    }

    .project-box{
        grid-template-columns:1fr;
        padding:0 15px;
    }
}
